<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AegisAi Login</title>

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='css/aegisai.css')}}">
</head>

<body class="" style="background-color: #5a5c69; backgrount-size:cover;">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0" style="background-color: #ffffff;">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img class="margin-top-10 margin-left-10" src = "{{url_for('static',filename='img/shield.png')}}" alt = "방화벽 이미지" width="380px" height="380px">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Aegis Ai, 안녕하세요</h1>
                                        <p style="font-size:15px">리눅스 계정으로 로그인하세요.</p>
                                    </div>
                                    <div id="loginResult" class="text-center text-danger mb-3"></div> <!-- 로그인 결과 메시지 영역 -->
                                    <form class="user" id="loginForm">
                                        <div class="form-group">
                                            <input type="text" name="username" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="user name....">
                                        </div>
                                        <div class="form-group">
                                            <input type="password"  name="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                        <hr>
                                    </form>
                                    <!--
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static',filename='js/sb-admin-2.min.js')}}"></script>

    <script>
        $(document).ready(function() {
            $('#loginForm').on('submit', function(event) {
                event.preventDefault(); // 폼의 기본 제출 동작을 막음

                $.ajax({
                    url: "/login_check",  // Flask 라우트에 맞는 URL 설정
                    method: 'POST',
                    data: $(this).serialize(),  // 폼 데이터를 직렬화하여 전송
                    success: function(response) {
                        if (response.success) {
                           location.href = "/dashboard";  // 로그인 성공 시 대시보드로 이동
                        } else {
                            $('#loginResult').text(response.message);  // 로그인 실패 시 메시지 표시
                        }
                    },
                    error: function() {
                        $('#loginResult').text('An error occurred. Please try again.');  // 서버 오류 발생 시 메시지 표시
                    }
                });
            });
        });
    </script>

</body>

</html>